name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository # Clone le dépôt GitHub
      uses: actions/checkout@v3

    - name: Log in to Docker Hub # Connexion à Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Docker Image # Construction et publication de l'image Docker
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: moumou200/express-app-sample:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
    - name: Checkout repository # Clone le dépôt GitHub
      uses: actions/checkout@v3

    - name: Set up SSH key for Swarm Manager # Connexion au serveur Swarm Manager
      uses: appleboy/ssh-action@v1.2.0
      with:
        host: ${{ secrets.SWARM_MANAGER_HOST }}
        username: ${{ secrets.SWARM_MANAGER_USER }}
        password: ${{ secrets.SWARM_MANAGER_PASSWORD }}
        port: ${{ secrets.SWARM_MANAGER_SSH_PORT }}
        script: |
          echo "Connexion réussie au serveur Swarm"
          docker service update --image moumou200/express-app-sample:latest my_app_stack_web
